/* pages/goods_detail/index.wxss */
.goods_detail {
  background-color: #f8f8f8;
}
.goods_detail .header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
.goods_detail .header .middle {
  width: 100%;
  height: 90rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32rpx;
  background-color: #f1f1f1;
}
.goods_detail .header .middle view {
  padding: 0 3%;
  margin: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods_detail .header .middle view.on {
  margin-bottom: -4rpx;
  color: #f47952;
  border-bottom: solid 4rpx #f47952;
}
.goods_detail .goods-swiper {
  height: 750rpx;
}
.goods_detail .goods-swiper swiper {
  height: 100%;
}
.goods_detail .info-box {
  width: 100%;
  padding: 20rpx 4%;
  background-color: #fff;
  margin-bottom: 20rpx;
}
.goods_detail .goods-info .price {
  font-size: 46rpx;
  font-weight: 600;
  color: #f47925;
}
.goods_detail .goods-info .title {
  font-size: 30rpx;
}
.goods_detail .spec .row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 30rpx 0;
}
.goods_detail .spec .row .text {
  font-size: 24rpx;
  color: #a2a2a2;
  margin-right: 20rpx;
}
.goods_detail .spec .row .content {
  font-size: 28rpx;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.goods_detail .spec .row .content .serviceitem {
  margin-right: 10rpx;
}
.goods_detail .spec .row .content .sp {
  width: 100%;
  display: flex;
}
.goods_detail .spec .row .content .sp view {
  background-color: #f6f6f6;
  padding: 5rpx 10rpx;
  color: #999;
  margin-right: 10rpx;
  font-size: 20rpx;
  border-radius: 5rpx;
}
.goods_detail .spec .row .content .sp view.on {
  border: solid 1rpx #f47952;
  padding: 4rpx 8rpx;
}
.goods_detail .spec .row .content .sub,
.goods_detail .spec .row .content .add {
  width: 50rpx;
  height: 50rpx;
  text-align: center;
  line-height: 50rpx;
  background-color: #f3f3f3;
  border-radius: 5rpx;
}
.goods_detail .spec .row .content .input {
  width: 80rpx;
  height: 60rpx;
  margin: 0 10rpx;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.goods_detail .spec .row .content .input input {
  width: 80rpx;
  height: 60rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26rpx;
}
.goods_detail .spec .row .arrow {
  position: absolute;
  right: 4%;
}
.goods_detail .spec .row .arrow .icon {
  color: #ccc;
}
.goods_detail .spec .row:nth-last-child(1) {
  margin: 0;
}
.goods_detail .comments .row {
  width: 100%;
  height: 40rpx;
  display: flex;
  align-items: center;
  margin: 0 0 30rpx 0;
}
.goods_detail .comments .row .text {
  font-size: 30rpx;
}
.goods_detail .comments .row .arrow {
  font-size: 28rpx;
  position: absolute;
  right: 4%;
  color: #17e6a1;
}
.goods_detail .comments .row .arrow .show {
  display: flex;
  align-items: center;
}
.goods_detail .comments .row .arrow .show .icon {
  color: #17e6a1;
}
.goods_detail .comments .comment {
  width: 100%;
}
.goods_detail .comments .comment .user-info {
  width: 100%;
  height: 40rpx;
  display: flex;
  align-items: center;
}
.goods_detail .comments .comment .user-info .face {
  width: 40rpx;
  height: 40rpx;
  margin-right: 8rpx;
}
.goods_detail .comments .comment .user-info .face image {
  width: 40rpx;
  height: 40rpx;
  border-radius: 100%;
}
.goods_detail .comments .comment .user-info .username {
  font-size: 24rpx;
  color: #999;
}
.goods_detail .comments .comment .content {
  margin-top: 10rpx;
  font-size: 26rpx;
}
.goods_detail .description .title {
  width: 100%;
  height: 80rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26rpx;
  color: #999;
}
.goods_detail .footer {
  position: fixed;
  bottom: 0rpx;
  width: 100%;
  padding: 0 4%;
  height: 99rpx;
  border-top: solid 1rpx #eee;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods_detail .footer .icons {
  display: flex;
  height: 80rpx;
  margin-left: -4%;
}
.goods_detail .footer .icons .box {
  position: relative;
  width: 80rpx;
  height: 80rpx;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.goods_detail .footer .icons .box button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.goods_detail .footer .icons .box .icon {
  font-size: 40rpx;
  color: #828282;
}
.goods_detail .footer .icons .box .text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 22rpx;
  color: #666;
}
.goods_detail .footer .btn {
  height: 80rpx;
  border-radius: 40rpx;
  overflow: hidden;
  display: flex;
  margin-right: -2%;
}
.goods_detail .footer .btn .joinCart,
.goods_detail .footer .btn .buy {
  height: 80rpx;
  padding: 0 40rpx;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 28rpx;
}
.goods_detail .footer .btn .joinCart {
  background-color: #f0b46c;
}
.goods_detail .footer .btn .buy {
  background-color: #f06c7a;
}
